# core-platform/docker-compose.yml
services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: identity-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: identity_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: