# core-platform/docker-compose.yml
services:
  bazel:
    build: .
    container_name: bazel_dev
    volumes:
      - .:/app:rw
      - bazel_cache:/root/.cache/bazel
      - cargo_cache:/usr/local/cargo/registry # Cache des crates téléchargées
      - cargo_target:/app/target               # Sorties de compilation Rust
    working_dir: /app
    command: sleep infinity
    tty: true
    stdin_open: true
    user: "0:0"
    network_mode: "bridge"

volumes:
  bazel_cache:
    name: core_platform_bazel_cache
  cargo_cache:
    name: core_platform_cargo_cache
  cargo_target:
    name: core_platform_cargo_target