#  k8s/overlays/prod/kustomization.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/postgres
namePrefix: prod-
patches:
  - target:
      kind: Cluster
      name: platform-db
    patch: |-
      - op: replace
        path: /spec/instances
        value: 3
      - op: replace
        path: /spec/storage/size
        value: 50Gi
      # On ajoute l'anti-affinité pour forcer la répartition sur 3 nodes différents
      - op: add
        path: /spec/affinity/podAntiAffinity
        value:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: cnpg.io/cluster
                    operator: In
                    values:
                      - prod-platform-db
              topologyKey: "kubernetes.io/hostname"