# k8s/overlays/dev/karpenter-config.yaml

apiVersion: karpenter.sh/v1beta1
kind: NodePool
metadata:
  name: default
spec:
  template:
    spec:
      requirements:
        - key: kubernetes.io/arch
          operator: In
          values: ["amd64"]
        - key: "karpenter.sh/capacity-type"
          operator: In
          values: ["on-demand"]
        - key: "karpenter.k8s.aws/instance-category"
          operator: In
          values: ["c", "m", "r"]
      nodeClassRef:
        name: dev-default
  limits:
    cpu: 100
  disruption:
    consolidationPolicy: WhenUnderutilized
---
apiVersion: karpenter.k8s.aws/v1beta1
kind: EC2NodeClass
metadata:
  name: default
spec:
  amiFamily: AL2
  role: "core-platform-dev-node-role"
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: "core-platform-dev"
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: "core-platform-dev"